 @media(max-width: 768px) {
     body {
         max-width: 100%;
         overflow-x: hidden;
     }
     .wap {
         width: 100%;
     }
     header {
         background-color: white;
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 99;
     }
     .tit .menus {
         font-family: 微软雅黑;
     }
     .tit img:nth-child(1) {
         display: none;
     }
     .tit img:nth-child(2) {
         display: inline-block;
         padding: 1%;
     }
     .menus {
         width: 100%;
         display: none;
     }
     .daoh {
         display: none;
     }
     .daoh a {
         display: block;
         border-bottom: 1px rgb(239, 235, 239) solid;
         text-align: center;
         text-decoration: none;
         padding: 2%;
         margin: 2%;
         color: rgb(90, 89, 90);
     }
     .sanhang {
         float: right;
         height: 17px;
         width: 21.23px;
         position: relative;
         margin-top: 11.5px;
         margin-right: 20px;
         z-index: 1000;
         cursor: pointer;
     }
     .sanhang div {
         height: 3px;
         width: 22px;
         background-color: #3bbe7a;
         position: absolute;
         transform-origin: 0 0;
         transition: all 0.72s;
     }
     .sanhang div:nth-child(1) {
         top: 0;
     }
     .sanhang div:nth-child(2) {
         top: 7px;
     }
     .sanhang div:nth-child(3) {
         bottom: 0;
     }
     .diyi {
         width: 100%;
         position: relative;
     }
     .diyi .bj {
         width: 100%;
         height: 300px;
     }
     .diyi .fi {
         width: 80%;
         position: absolute;
         top: -15px;
         right: -15px;
     }
     .wap .dier {
         width: 100%;
     }
     .wap .dier .dier_tit {
         width: 80%;
         margin: 0 auto;
         margin-top: 5%;
     }
     h3,
     p {
         text-align: center;
         font-family: 微软雅黑;
     }
     h3 {
         font-weight: 700;
     }
     .wap .xian {
         margin: 0 auto;
         width: 40px;
         height: 2px;
         background-color: #3bbe7a;
         margin-bottom: 3%;
         margin-top: 2%;
     }
     .wap .dier {
         width: 100%;
     }
     .wap .dier .dier_tit {
         width: 80%;
         margin: 0 auto;
         margin-top: 5%;
     }
     .wap .dier .dier_tit h3,
     p {
         text-align: center;
         font-family: 微软雅黑;
     }
     .dier_tit h3 {
         font-weight: 700;
     }
     .wap .dier .xian {
         margin: 0 auto;
         width: 40px;
         height: 2px;
         background-color: #3bbe7a;
         margin-bottom: 3%;
         margin-top: 2%;
     }
     .dier_c {
         width: 100%;
         margin-top: 6%;
         margin-bottom: 100px;
     }
     .dier_c .ztu {
         float: left;
         width: 35%;
     }
     .dier_c .ztu img {
         width: 100%;
     }
     .dier_c .zzi {
         width: 60%;
         float: right;
         margin-left: 50px;
     }
     .dier_c .zzi h5 {
         margin: 2%;
         margin-left: 5%;
     }
     .dier_c .zzi ul {
         margin-top: 6%;
     }
     .dier_c .zzi ul li {
         margin: 2%;
         font-size: 14px;
         font-family: 微软雅黑;
     }
     .wap .dier .xian2 {
         width: 90%;
         height: 2px;
         margin: 0 auto;
         background-color: rgb(231, 227, 231);
         display: block;
         margin-top: 100px;
     }
/*     .wap .put{
        margin-top: 50px;
     }*/
     .put_a {
         width: 85%;
         margin: 0 auto;
         margin-top: 50px;
     }
     .put_a .put_tu {
         width: 35%;
         float: left;
     }
     .put_a .put_tu img {
         width: 100%;
     }
     .put_a .put_b {
         width: 60%;
         float: right;
         margin-left: 5%;
     }
     .put_a .put_b input {
         width: 50%;
         margin-bottom: 3%;
         height: 30px;
     }
     .put_a .put_b a {
         display: inline-block;
         text-decoration: none;
         color: white;
         background-color: #3bbe7a;
         margin-top: 3%;
         padding: 10px 50px 10px;
     }
     input,
     textarea::-webkit-input-placeholder {
         font-family: 黑体;
         font-size: 14px;
     }
     #ig1 {
         display: none;
     }
     #ig2 {
         display: inline-block;
     }
     .wap .footer {
         width: 100%;
         background-color: rgb(49, 52, 49);
         height: 50px;
     }
     .wap .footer .jiao_1 .jiao {
         width: 85%;
         margin: 0 auto;
     }
     .wap .footer .jiao_1 .jiao a {
         text-decoration: none;
         color: black;
         display: none;
     }
     .wap .footer .jiao_1 .jiao p {
         display: block;
         margin-top: 1%;
         font-family: 黑体;
         color: rgb(74, 85, 82);
         text-align: center;
         line-height: 260%;
     }
     .wap .footer .jiao_1 .jiao .weixin {
         display: none;
     }
 }
 
 @media(min-width: 768px) {
     .wap {
         width: 100%;
     }
     header {
         width: 100%;
         background-color: white;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 99;
     }
     .tit img:nth-child(1) {
         display: inline-block;
     }
     .tit img:nth-child(2) {
         display: none;
     }
     .hb {
         display: none;
     }
     .tit {
         margin: 0 auto;
         width: 90%;
     }
     .tit .menus,
     .daoh {
         float: right;
         width: 80%;
         font-family: 微软雅黑;
         display: block;
     }
     .tit .daoh {
         display: none;
     }
     .tit .menus a {
         float: right;
         font-size: 16px;
         color: black;
         text-decoration: none;
         padding: 12px 3.5%;
         line-height: 320%;
         border: none;
         margin: 0;
     }
     .tit .menus .xz {
         color: #3bbe7a;
         border: 1px #3bbe7a solid;
         padding: 15px 20px;
         line-height: 0;
         margin-top: 22px;
         font-size: 12px;
     }
     .tit .menus .lxwm {
         color: #3bbe7a;
     }
     .tit .menus .xz:hover {
         background-color: #3bbe7a;
         color: white;
         transition: 0.5s;
     }
     .diyi {
         width: 100%;
         position: relative;
     }
     .diyi .bj {
         width: 100%;
         height: 400px;
     }
     .diyi .fi {
         width: 40%;
         position: absolute;
         top: 100px;
         right: 80px;
         display: none;
     }
     .wap .dier {
         width: 100%;
     }
     .wap .dier .dier_tit {
         width: 80%;
         margin: 0 auto;
         margin-top: 5%;
     }
     h3,
     p {
         text-align: center;
         font-family: 微软雅黑;
     }
     h3 {
         font-weight: 700;
     }
     .wap .xian {
         margin: 0 auto;
         width: 40px;
         height: 2px;
         background-color: #3bbe7a;
         margin-bottom: 3%;
         margin-top: 2%;
     }
     .dier_c {
         width: 85%;
         margin: 0 auto;
         margin-top: 6%;
     }
     .dier_c .ztu {
         float: left;
         width: 35%;
     }
     .dier_c .ztu img {
         width: 100%;
     }
     .dier_c .zzi {
         width: 50%;
         float: left;
         margin-left: 50px;
     }
     .dier_c .zzi h5 {
         margin: 2%;
         margin-left: 5%;
     }
     .dier_c .zzi ul {
         margin-top: 6%;
     }
     .dier_c .zzi ul li {
         margin: 2%;
         font-size: 14px;
         font-family: 微软雅黑;
     }
     .wap .dier .xian2 {
         width: 90%;
         height: 2px;
         margin: 0 auto;
         background-color: rgb(231, 227, 231);
         display: block;
         margin-top: 100px;
     }
     .wap .put {
         margin-top: 100px;
         margin-bottom: 100px;
     }
     .put_a {
         width: 85%;
         margin: 0 auto;
         margin-top: 50px;
         /*         margin-bottom: 100px;*/
     }
     .put_a .put_tu {
         width: 35%;
         float: left;
     }
     .put_a .put_tu img {
         width: 100%;
     }
     .put_a .put_b {
         width: 60%;
         float: right;
         margin-left: 5%;
     }
     .put_a .put_b input {
         width: 50%;
         margin-bottom: 3%;
         height: 30px;
     }
     .put_a .put_b a {
         display: inline-block;
         text-decoration: none;
         color: white;
         background-color: #3bbe7a;
         margin-top: 3%;
         margin-right: 20%;
         padding: 10px 50px 10px;
     }
     input,
     textarea::-webkit-input-placeholder {
         font-family: 黑体;
         font-size: 14px;
     }
     #ig2 {
         display: none;
     }
     #ig1 {
         display: inline-block;
     }
     .wap .footer {
         width: 100%;
         height: 100px;
         position: relative;
         background-color: #333;
     }
     .wap .footer .jiao_1 .jiao {
         width: 85%;
         margin: 0 auto;
     }
     .wap .footer .jiao_1 .jiao a {
         text-decoration: none;
         color: rgb(165, 162, 165);
         display: inline-block;
         margin-top: 2%;
         font-family: 黑体;
     }
     .wap .footer .jiao_1 .jiao p {
         display: block;
         margin-top: 1%;
         font-family: 黑体;
         color: rgb(74, 85, 82);
         text-align: left;
         line-height: 100%;
     }
     .wap .footer .jiao_1 .jiao .weixin {
         width: 150px;
         height: 50px;
         display: inline-block;
         /*         background-color: red;
*/
         position: absolute;
         top: 32%;
         right: 10%;
     }
     .wap .footer .jiao_1 .jiao .weixin .tat {
         float: left;
         margin-right: 40px;
     }
     .wap .footer .jiao_1 .jiao .weixin .weixin_er {
         position: absolute;
         top: -340%;
         right: 30%;
         display: none;
     }
     .wap .footer .jiao_1 .jiao .weixin .weixin_er1 {
         position: absolute;
         top: -341%;
         right: -25%;
         display: none;
     }
     /*   .wap .footer .jiao_1 .jiao .weixin div {
         margin-right: 3%;
         float: left;
         background-color: red;
         width: 50%;
         height: 20px;
     }*/
 }
